body{
    background-color: gray;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 50%;
    
}

main {
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0px 0px 7px #000;
    border-radius: 15px;
    border-top: 15px solid black;
    border-radius: 15px solid black;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.logo img {
    width: 170px;
}

.teti-info {
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}


