<!DOCTYPE html>
<!-- cSpell:disable -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "../static/css/teti_mauricio.css">
        <link rel="shortcut icon" href="../static/images/ifms_f_logo.jpg" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <title>TETI</title>
    </head>
    <body>

        <main class="container">
            <header>
                <di class="header-photo">
                    <img src="../static/images/selfie.jpg">
                </di>
                <div class="header-content">
                    <div class="ifms-logo">
                        <img src="../static/images/ifms_f_logo.jpg">
                    </div>
                    <div class="teti-info">
                        <h4>Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul</h4>
                        <h5>Tecnologia em Análise e Desenvolvimento de Sistemas - TADS 6</h5>
                        <h5>Tópicos Especiais em Tecnologia da Informação - TETI</h5>
                        <p>Prof. Alex F. de Araujo <span></span> Aluno Maurício da Silva Batista</p>
                    </div>
                </div>
            </header>
            

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed week" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <div class="week-desc">
                                <h5>SEMANA 1</h5>
                                <div class="week-date">01/08/2022-05/08/2022</div>
                            </div>
                            <p>Conteúdo: Discussão sobre o plano de ensino e atividades avaliativas</p>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            ■ Apresentação do <a href="/plano-de-ensino" target="_blank">Plano de Ensino</a><br>
                            ■ Discussão sobre aderencia à Ementa Proposta <br>
                            ■ Apresentação das Atividades Avaliativas <br>
                            ■ Detalhamento do Cronograma de Atividades        
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed week" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="week-desc">
                                <h5>SEMANA 2</h5>
                                <div class="week-date">08/08/2022-12/08/2022</div>
                            </div>
                            <p>Conteúdo: Introdução ao Python, VENV e Flask</p>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            ■ Apresentação a linguagem de programação Python <br>
                            ■ Instalação do Python no Linux  ( <code>sudo apt-get install python3.9</code> )<br>
                            ■ Introdução ao básico do Python <br>
                            ■ Criação do Ambiente Virtual ( <code>python3.9 -m venv {venv-name}</code> )<br>
                            ■ Introdução teórica e instalação do Flask ( <code>pip install Flask</code> )<br>
                            ■ Introdução prática ao Flask <br>
                            ■ Iniciando o primeiro <a href="/initial-template" target="_blank">App Flask</a> ( <code>flask run</code> ) e retornando mensagem ( <code>return "mensagem"</code> )
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed week" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="week-desc">
                                <h5>SEMANA 3</h5>
                                <div class="week-date">15/08/2022-19/08/2022</div>
                            </div>
                            <p>Conteúdo: Manipulação e envio de dados entre Python e HTML</p>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            ■ Passagem de dados do Python para o <a href="/data-manipulation" target="_blank">Template HTML</a> ( <code>render_template("template.html", foo=bar)</code> )<br>
                            ■ Manipulação de dados com diferentes tipos de envio ( <code>GET</code>, <code>POST</code> ) com <a href="/form" target="_blank">Formulário HTML</a> <br>
                            ■ Manipulação de dados utilizando uma lista ( <code>list</code> ) do Python com <a href="/list" target="_blank">Formulário HTML</a> <br>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed week" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <div class="week-desc">
                                <h5>SEMANA 4</h5>
                                <div class="week-date">22/08/2022-26/08/2022</div>
                            </div>
                            <p>Conteúdo: Calculadora Simples e Calculadora Alfanúmerica</p>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            ■ Desenvolver uma <a href="/calculator" target="_blank">Calculadora Simples</a> cujo os cálculos sejam resolvidos em Python e retornados ao template <br>
                            ■ A Calculadora Simples também deverá converter o resultado em binário e retorná-lo ao template <br>
                            ■ Desenvolver uma <a href="/alnum-calc" target="_blank">Calculadora Alfanúmerica</a> que converta caracteres alfanúmericos para binário no Python e retorne o resultado <br>
                            ■ A Calculadora Alfanúmerica também deverá separar/arranjar o resultado em grupos de 480 valores e retornar o resultado <br>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed week" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <div class="week-desc">
                                <h5>SEMANA 5</h5>
                                <div class="week-date">29/08/2022-02/09/2022</div>
                            </div>
                            <p>Conteúdo: Conclusão dos exercícios e Apresentação do Projeto Final</p>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            ■ O Projeto Final: aplicacação mobile de comunicação e mensageria por meio de fotos <br>
                            ■ Conectar dois ou mais usuários e transmitir as fotos nos formatos .webp, .jpg, .jpeg entre eles <br>
                            ■ Fazer upload da foto capturada, enviá-la e fazer download da mesma no outro dispositivo <br>
                            ■ Configurações: front-end mobile em Flutter, e back-end em python com flask<br>
                            ■ <a href="/array_divs_1_pixel" target="_blank">Atividade</a>: gerar um array 2D de 512 linhas por 512 colunas de Divs com 1 pixel de tamanho <br>
                            ■ <a href="/array_divs_1_pixel_colored" target="_blank">Atividade</a>: gerar um array 2D de 512 linhas por 512 colunas de Divs com 1 pixel de tamanho coloridas<br>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    </body>
</html>